<h2> Check the difference between the index and the latest commit / Git </ h2>



To check the difference between the index and the latest commit, use the diff command and specify --cached as an option.

<pre>
git diff --cached
</ pre>

When to use this command, use "git add" to reflect the changes in the work tree in the index.

<pre>
git commit
</ pre>

Before executing. The index was once called the cache. The option --cached seems to represent an "index".

<pre>
+ ------------------ +
| |
| Local repository |
| Latest Commit | <------ +
| | |
+ ------------------ + |
         | | --- "git diff --cached" is an index
+ ------------------ + | Shows the diff of the latest commit in the repository.
| | |
| Index | <------ +
| |
+ ------------------ +
         |
+ ------------------ +
| |
| Working tree |
| |
+ ------------------ +
</ pre>