<h2> Check the difference between the working tree and any commit / Git </ h2>




You can check the difference between the work tree and any commit by specifying the commit as an argument with "git diff".

<h4> Check the difference between the working tree and the latest commit </ h4>

The latest commit can be expressed by the keyword HEAD. You can check the difference between the working tree and the latest commit by specifying HEAD as the argument of "git diff".
<pre>
git diff HEAD
</ pre>

<pre>
+ ------------------ +
| |
| Local repository |
| Latest Commit | <------ +
| | |
+ ------------------ + |
         | |
+ ------------------ + |
| | |
| Index | | --- "git diff HEAD" is an index
| | | Shows the diff of the latest commit in the repository.
+ ------------------ + |
         | |
+ ------------------ + |
| | |
| Working tree | <------ +
| |
+ ------------------ +
</ pre>

<h4> Check the difference between the work tree and the previous commit </ h4>

You can pass any commit to the argument of "git diff". The previous commit can be expressed by "HEAD ^". You can check the difference between the working tree and the previous commit by doing the following.
<pre>
git diff HEAD ^
</ pre>

<pre>
+ -------------------- +
| + ------------------ + |
|| Local repository ||
|| Commit just before || <---- +
| + ------------------ + | |
| | | |
| + ------------------ + | |
|| Local repository || |
||'s latest commit || |
| + ------------------ + | |
+ -------------------- + | --- "git diff HEAD ^" is a working tree
         | | Of the previous commit in the repository
+ -------------------- + | Shows the difference.
| | |
| Index | |
| | |
+ -------------------- + |
         | |
+ -------------------- + |
| | |
| Working tree | <---- +
| |
+ -------------------- +
</ pre>

Also, if you increase the number of ^, you can display the difference from the previous commit.

<pre>
git diff HEAD ^^
</ pre>

You can also specify the previous commit numerically by using "~". The following specifications mean the same as the above specifications.

<pre>
git diff HEAD ~ 2
</ pre>

The commit specification like this is used not only for the diff command but also for other commands, so let's remember it.

<h4> Compare any commit with a working tree </ h4>

In Git, each commit is represented by a 40-digit hexadecimal number called the object name. You can also specify the commit by object name.

Now, in order to get the object name, let's display the sequence of commits up to now with the "git log" command.

A series of flow from the first commit to the current commit is displayed. The 40-digit number in the commit line is the object name.

<pre>
commit 2e5a5c06f37742129ef25b0ffa801d96cfd5a56d
Author: yuki-kimoto <kimoto.yuki@gmail.com>
Date: Thu Jul 16 15:57:30 2009 +0900

    add: pass self to constraint functions

commit 4792262a6d81cd2283cb204c1739bffe662790a2
Author: yuki-kimoto <kimoto.yuki@gmail.com>
Date: Thu Jul 16 08:45:10 2009 +0900

      bag fix: validator args is passed as empty array ref when args don't exists
..
..
..

commit fedaa0658da113c1616e5293484c68cb62588e51
Author: yuki-kimoto <kimoto.yuki@gmail.com>
Date: Mon May 25 23:49:01 2009 +0900

    first commit
</ pre>

By specifying this object name as an argument of "git diff", the difference between the working tree and any commit can be displayed.

<pre>
git diff object name
</ pre>

<h4> Check the difference between the working tree and other branches </ h4>

In Git, you can branch the main system and collateral system of development using a function called branch. The first is in a branch called "master". You can use the branch command to create a branch.

We will proceed assuming that there is a branch now. To view the branch

<pre>
git branch
</ pre>

will do. Suppose your current branch is master and you have branch1 that you are developing on a sideline.

<pre>
---- + ---------- master
    |
    + ---------- branch1
</ pre>

At this time, to check the difference between the work tree of master (current branch) and branch1, do as follows.

<pre>
git diff branch1
</ pre>

Git also allows you to compare not only branches in your local repository, but also branches in remote repositories (usually someone else's). These are called remote tracking branches

<pre>
git branch -r
</ pre>

It can be displayed with. It will be displayed as follows.

<pre>
kraih / master
origin / HEAD
origin / master
origin / trial1
</ pre>

To check the difference between the current working tree and the remote tracking branch:

<pre>
git diff kraih / master
</ pre>

<h4> Specify commit using tag name </ h4>

In Git, you can give a name to a commit using a function called a tag. You can use this tag name to compare the commit represented by the tag with the contents of the current working tree.

<pre>
git diff tag name
</ pre>

<h3> Practice specifying the commit with the diff command </ h3>

The commit specification method explained here will also be used for other commands, so it is better to practice with a safe diff command that does not update the repository.