<h2>Current Directories</H2>

The current directory is the directory you are currently working on. Current means "current" in English. A directory in Linux corresponds to a folder in Windows.

<h3> Change current directory </h3>

Use the <a href="/blog/20191012191854.html"> cd command</a> to change the current directory.

<pre>
cd /home/kimoto/labo
</pre>

The directory "/home/kimoto/labo" will be the current directory.

<h3> Specify a relative path from the current directory </h3>

As an effect of setting the current directory, the file name can be specified from the current directory with <a href="/blog/20191216082522.html"> relative path</a>.

Let's specify the file "foo" with a relative path with the <a href="/blog/20191126082723.html"> ls command</a>.

<pre>
ls foo
</pre>

This actually has the same meaning as specified by <a href="/blog/20191217081903.html"> absolute path</a> as shown below.

<pre>
ls /home/kimoto/labo/foo
</pre>

<h3> File name of the current directory </h3>

The current directory itself is represented by a special file name ".".

<pre>
# File name of the current directory
..
</pre>

If you give "." To ls and execute it as shown below, a list of files in the current directory will be displayed.

<pre>
ls .
</pre>

<h3> Check the existence of the current directory </h3>

The current directory actually exists as the contents of the current directory as <a href="/blog/20191220091958.html"> hidden files</a>.

Let's check using the "-a" option of the <a href="/blog/20191126082723.html"> ls command</a>. This is a sample output result.

<pre>
drwxrwxr-x 6  kimoto kimoto 4096 Aug 14 17:51.
drwxrwxr-x 40 kimoto kimoto 4096 Nov 9  10:08 ..
-rw-r--r-- 1  kimoto kimoto 1116 Aug 15 08:28 convert_markdown.pl
-rw-r--r-- 1  kimoto kimoto 162  Sep 11 08:42 giblog.conf
drwxrwxr-x 8  kimoto kimoto 4096 Oct 12 19:52 .git
-rw-r--r-- 1  kimoto kimoto 8    Aug 10 15:01 .gitignore
drwxrwxr-x 3  kimoto kimoto 4096 Aug 10 15:01 lib
drwxrwxr-x 7  kimoto kimoto 4096 Aug 10 15:04 public
-rw-r--r-- 1  kimoto kimoto 227  Aug 10 15:01 README
-rw-r--r-- 1  kimoto kimoto 219  Aug 10 15:01 serve.pl
drwxrwxr-x 5  kimoto kimoto 4096 Aug 10 15:01 templates
</pre>

"." Is displayed.