<h2> git's rebase is a good way to get the master branch into your working branch / Git </ h2>



Git has a command called rebase. But I think many people still don't understand when to use the rebase command. It's true that rebase is dangerous if used incorrectly, but I think it's the wrong place to use it.

<h3> When to use rebase </ h3>

Rebase is used when you want to incorporate new changes in master into a branch created by deriving the master branch (let's call it foo).

First of all, if you create a branch called foo from master, it will be in the following state.

<pre>
 * --- * --- * master
         |
         * foo
</ pre>

You are developing on the foo branch. The foo branch will continue, but the master branch will also incorporate changes from other developers. It will be in the following state.

<pre>
 * --- * --- * --- * --- * master
         |
         * --- * --- * foo
</ pre>

But suppose you want to capture the changes made in the master branch individually. You should avoid merging masters here. Merging each other is not good in terms of keeping the commit history clean. It's okay for master to merge foo, but it's a good idea to stop foo from merging master.

But I think there are times when foo wants to capture the changes in master. Use rebase in such cases. Interestingly, rebase will replace the foo branch at the beginning of master.

<pre>
 * --- * --- * --- * --- * master
                 |
                 * --- * --- * foo
</ pre>

In other words, it will create a foo branch based on the beginning of master and make your series of changes. This will clean up the process of merging the foo branch into master.

<h3> Conflicts may occur in rebase </ h3>

Conflicts may occur in rebase as well as when merging. If the changes in master and the changes in foo clash, it's normal. In this case, modify the source code to resolve the conflict and then do "git rebase --continue".

<h3> rebase rewrites the commit history, so it cannot be restored (is it difficult?) </ H3>

Rebase rewrites the commit history. Therefore, it is difficult to go back to before rebase, even if it is possible, so it is recommended to save the branch in that state once with a different name.

<pre>
<h3> Make a bar </ h3>
 * --- * --- * --- * --- * master
         |
         * --- * --- * foo
                 |
                 * bar

<h3> rebase foo </ h3>
 * --- * --- * --- * --- * master
         | |
         | * --- * --- * foo
         |
         * --- * --- * bar

</ pre>

With this, even if something strange happens, it can be restored.

<h3> Do not rebase on the master branch </ h3>

Rebase rewrites the commit history. That is, there is no commit continuity. If you rebase with master, other people who are referencing master will be in trouble. So don't use rebase in your master branch.

Rebase is a feature that is necessary and should be remembered from time to time for those who work in branches. It's a good idea to remember before you worry about how to incorporate changes from the master branch into the branch you're working on.

<h3> If rebase doesn't work, just merge </ h3>

However, even if you rebase, sometimes the source code gets mixed up and it doesn't work. In such a case, the point of view of whether or not it can be modified is more important than the commit history, so even if the commit history is mixed up, it is better to solve it with merge.