<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> touch Command - Create New Files </h2>

You can use the touch command to create a new file.

<pre>
touch FileName
</pre>

Let's create a file named foo.txt with the touch command.

<pre>
touch foo.txt
</pre>

Let's confirm that the file foo.txt is created by <a href="/blog/20191126082723.html"> ls command</a>.

If you can confirm it, you are successful.

<h3> Show help --help option </h3>

Use the "--help" option to get help.

<pre>
touch --help
</pre>

Help is displayed.

<pre>
sage: touch [OPTION] ... FILE ...
Update the access and modification times of each FILE to the current time.

Mandatory arguments to long options are mandatory for short options too.
  -a change only the access time
  -c, --no-create do not create any files
  -d, --date = STING parse STRING and use it instead of current time
  -f (ignored)
  -m change only the modification time
  -r, --reference = FILE use this file's times instead of current time
  -t STAMP use [[CC] YY] MMDDhhmm [.ss] instead of current time
  --time = WORD change the specified time:
                           WORD is access, atime, or use: equivalent to -a
                           WORD is modify or mtime: equivalent to -m
      --help display this help and exit
      --version output version information and exit
</pre>