<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> tar command-file archiving and decompression </h2>

You can use the <strong> tar </strong> command to combine a directory and the files below it into a single file. Even if you copy the combined files, the information such as the internal update date and time is maintained.

<h3> Archive to tar file </h3>

To archive the contents under the directory into a tar file, use the "cf" option of the tar command. (Suppose there is a directory called project in the current directory.)

<pre>
tar cf project.tar project
</pre>

C means to create an archive. f means a file, and is specified when a file or directory is the target. The first argument is the file name after archiving. It should look like project.tar. The second argument is the target directory. Archives are sometimes called library stacks in Japanese.

<h3> Extract the tar file </h3>

Use the xf option to extract the archived one. x means extract, which means extract.

<pre>
tar xf project.tar
</pre>

<h3> Difference between archiving and compression </h3>

tar is a command for archiving, and compression / decompression commands (<a href="/blog/20200608103245.html"> gzip</a>, <a href="/blog/20200607103245.html"> gunzip < / a> etc.) is different. Archiving is the combination of multiple files into a single file. Compression is the reduction of the number of bytes in a file using a compression algorithm.

<h3> "z" option to compress / decompress gzip at the same time </h3>

Generally, the file is "tar.gz" and is often hardened. This is a file that has been compressed using gzip after archiving the file with tar.

<pre>
foo.tar.gz
</pre>

You can unzip and unpack this all at once by adding the "z" option.

<pre>
tar xfz project.tar.gz
</pre>

You can also archive and compress at the same time by adding the z option.

<pre>
tar cfz project.tar.gz project
</pre>

Keep in mind that the "xfz" and "cfz" options are very common.

<h3> "v" option to display the processing contents of archiving and decompression </h3>

When used together with the "v" option, the processing contents of archiving and decompression are output.

<pre>
tar xfzv project.tar.gz
</pre>

It is easy to understand because you can see what kind of processing was done.