<h2> How to update and publish Git public and personal repositories </ h2>



In development, I use git as a version control system, but recently I've come to understand that I wasn't sure how to use it well. There was no problem with using Github, but recently I've come to understand that I didn't know the procedure for creating a development server in-house and developing with multiple people. .. It was

<h3> Public and personal repositories </ h3>

In git, it is necessary to clearly distinguish between what is called a public repository and what is called a personal repository. And it is necessary to understand that Mr. A's public repository and Mr. B's public repository, Mr. A's personal repository and Mr. B's personal repository are all different.

<pre>
<h3> Everything is different! </ h3>
Mr. A's public repository
Mr. B's public repository
Mr. A's personal repository
Mr. B's personal repository
</ pre>

(Git has a mechanism for sharing repositories called the --share option. It's similar to subversion. But since you use git, you don't use --share and you can take advantage of distributed repositories. I think it's best to keep it alive.)

<h3> Operations that Mr. A can do </ h3>

<h4> For your repository </ h4>

Mr. A can make changes to his personal repository. This is essentially a task of making source code changes in your local environment and committing to your personal repository.

After that, Mr. A reflects the change information of the personal repository in his public repository. This operation is called push.

<pre>
Commit personal repository-> Push to public repository
</ pre>

By pushing to the public repository, Mr. B will be able to get the changed information. It is called a public repository because it is open to people other than yourself.

Use the --bare option of the "git clone" command to create a public repository. Add .git to the extension of the repository to be created. The specific creation method will be explained later.

<h4> For Mr. B's repository </ h4>

Mr. A cannot make changes to Mr. B's personal repository or public repository. You can only add changes directly to your personal repository.

Mr. A can get the changed information from Mr. B's public repository to his personal repository. This operation is called pull.

<pre>
B's public repository-> Reflected in A's personal repository (pull)
</ pre>

In order for Mr. A to reflect the information received from Mr. B in his public repository, it is necessary to push to his public repository.

The above is summarized and illustrated as follows.
<pre>
                             Mr. A push
Mr. A's personal repository --------------------------> Mr. A's public repository
      ^ |
      | |
      | A pulls | B pulls
      | |
      | |
      | Mr. B push V
Mr. B's public repository <--------------------------- Mr. B's personal repository
</ pre>

The feature is that the personal repositories and public repositories of Mr. A and Mr. B are connected in one direction with a square.

<h3> When collaboratively developing </ h3>

When collaboratively developing an application, the flow is as follows.

<pre>
1. Mr. A changes the source code.
2. Mr. A commits to his personal repository.
3. Mr. A pushes the changes in his personal repository to his public repository.
</ pre>
Immediately after this, Mr. B wants to make changes to the source code.
<pre>
4. Mr. B gets the information from Mr. A's public repository and pulls it to his personal repository. This will give you the latest source code.
5. Mr. B changes the source code.
6. Mr. B commits to his personal repository.
7. Mr. B pushes the changes in his personal repository to his public repository.
</ pre>
And when Mr. A wants to make changes next time, he gets the information from Mr. B's public repository and reflects it in his personal repository.
<pre>
8. Mr. B gets the information from Mr. A's public repository and pulls it to his personal repository. This will give you the latest source code.
9. Same as below
</ pre>

The basic flow of development is like this. Well, I think some people thought that they could only develop in order. However, git has a function to merge the differences of the source code, so if you develop in parallel and there is a conflict, you only have to correct the inconsistent part.

<h3> How to create a personal repository and a public repository </ h3>

First, assume that there are users taro and ken. We also assume that SSH can connect to a remote server and that Apache is present and can access the web server (HTTP server).

SSH is required to push the information of your personal repository to your public repository. HTTP is required to pull information from someone else's public repository to your personal repository. (There are other methods, but this is the most orthodox)

This time, both the personal repository and the public repository will be placed on the same server, but usually the personal repository is created in the local environment and the remote repository is created in the remote environment.

<h4> Creating a personal repository for toro </ h4>

First, log in with taro. Let's create a development directory called labo.

<pre>
mkdir labo
cd labo
</ pre>

Next, let's create a directory for an application called myapp.

<pre>
mkdir myapp
cd myapp
</ pre>

Now, let's create a personal repository for taro's myapp. To create a personal repository, just go into a directory called myapp and do "git init".

<pre>
git init
</ pre>

Development will begin. Anything is fine, but let's create a file called README.txt first.

<pre>
touch README.txt
</ pre>

Then, commit to the personal repository. Temporarily commit with "git add" and then commit with "git commit".
<pre>
git add.
git commit -m "first commit"
</ pre>

If you are asked to set a user name and email address, let's set it. This is only once.
<pre>
git config --global user.name "taro"
git config --global user.email taro@foo.com
</ pre>

<h4> Setting taro's public repository </ h4>

The public repository is created by cloning a personal repository. For public repositories, create them with the --bare option. The extension should be .git.

<pre>
cd ~ / labo
git clone --bare myapp myapp.git
</ pre>

Next, make some settings to make it a public repository. Create a file called git-daemon-export-ok to indicate that it is a public repository. Also, make some settings for publishing on the HTTP server.

<pre>
cd myapp.git
touch git-daemon-export-ok
git --bare update-server-info
mv hooks / post-update.sample hooks / post-update
</ pre>

Next, in order to publish this to ken, move to a location where Apache, which is an HTTP server, can see it. Create a directory called public_html under your home directory and place myapp.git in it.

<pre>
cd ~
mkdir public_html
mv ~ / labo / myapp.git ~ / public_html /
</ pre>

Next, if the Apache version is 2 or later, you need to modify the configuration file. Use a module called mod_userdir to make each user's public_html visible to Apache. This must be done with root privileges. Let's modify the Apache configuration file httpd.conf. (On CentOS, it's in /etc/httpd/conf/httpd.con)

<pre>
<IfModule mod_userdir.c>
    #
    #UserDir is disabled by default since it can confirm the presence
    # of a username on the system (depending on home directory)
    # permissions).
    #
    # UserDir disable

    #
    # To enable requests to / ~ user / to serve the user's public_html
    #directory, remove the "UserDir disable" line above, and uncomment
    # the following line instead:
    #
    UserDir public_html

</ IfModule>
</ pre>

Make the UserDir disable part a comment and uncomment the UserDir public_html part.

Another point to note is that the taro directory must be readable by other users in order to be published. Let's change the permissions with chmod.

<pre>
chmod 755 / home / taro
</ pre>

<h4> Push from personal repository to public repository </ h4>

Create a public repositoryNow you can push the information in your personal repository to the public repository.

Let's make some changes to the source code and commit.
<pre>
cd ~ / labo / myapp
echo'Hi'> README.txt
git add.
git commit -m "second updated"
</ pre>

Push this to your public repository.

<pre>
git push ssh: //taro@localhost/~/public_html/myapp.git master
</ pre>

The following message will be displayed, and the changes in the personal repository will be reflected in the public repository.
<pre>
Counting objects: 5, done.
Writing objects: 100% (3/3), 235 bytes, done.
Total 3 (delta 0), reused 0 (delta 0)
To ssh: //taro@localhost/~/public_html/myapp.git
   a922551..bc2387e master-> master
</ pre>

<h3> ken participates in development </ h3>

Ken participated in the development. I want to make changes to the source code developed by taro. As a flow, first create a personal repository of ken. This will be the myapp repository itself published by taro.

Let's clone this. First, log in with ken. Create a labo directory for your development location.

<pre>
mkdir labo
cd ~ / labo
</ pre>

The public repository of taro placed in "/home/taro/public_html/myapp.git" can be accessed with the URL "http: //localhost/~taro/myapp.git".

Specify this URL and copy taro's public repository as ken's personal repository.

<pre>
git clone http: //localhost/~taro/myapp.git
</ pre>

Then, the directory called myapp is copied, so let's go inside.

<pre>
cd myapp
</ pre>

Development can now be started. Let's make a few changes and commit.

<pre>
echo'ppp' ``` README.txt
git add.
git commit -m "something changed"
</ pre>

If you are asked to set a user name and email address, let's set it. This is only once.

<pre>
git config --global user.name "ken"
git config --global user.email ken@foo.com
</ pre>

Next, let's create a repository for publishing ken. The procedure is exactly the same as for taro.

<pre>
cd ~ / labo
git clone --bare myapp myapp.git
cd myapp.git
touch git-daemon-export-ok
git --bare update-server-info
mv hooks / post-update.sample hooks / post-update
</ pre>

Next, in order to publish this to taro, move to a location where Apache, which is an HTTP server, can see it. Create a directory called public_html under your home directory and place myapp.git in it.

<pre>
cd ~
mkdir public_html
mv ~ / labo / myapp.git ~ / public_html /
</ pre>

 In order to be published, the ken directory must be readable by other users. Become root and change the permissions with chmod.

<pre>
chmod 755 / home / ken
</ pre>

<h4> Push from personal repository to public repository </ h4>

Now, let's make a few more changes and push from ken's personal repository to ken's public repository. This is exactly the same procedure described in taro.

<pre>
cd ~ / labo / myapp
echo'PoPo' ``` README.txt
git add.
git commit -m "ken more update"
</ pre>

Push this to your public repository.

<pre>
git push ssh: //ken@localhost/~/public_html/myapp.git master
</ pre>

The public repository of ken is now up to date.

<h3> taro continues development </ h3>

In order for taro to continue development, it is necessary to first pull the ken changes from the public repository (pull).

<pre>
cd ~ / labo / myapp
git pull http: //localhost/~ken/myapp.git
</ pre>

The changes will be incorporated as follows.

<pre>
 * branch HEAD-> FETCH_HEAD
Updating bc2387e..260f45b
Fast-forward
 README.txt | 2 ++
 1 files changed, 2 insertions (+), 0 deletions (-)
</ pre>

After that, as explained at the beginning, taro and ken will repeat push and pull to proceed with development.

<pre>
                             ken push
ken's personal repository --------------------------> ken's public repository
      ^ |
      | |
      | ken pulls | taro pulls
      | |
      | |
      | taro push V
taro's public repository <--------------------------- taro's personal repository
</ pre>

The above is the flow of joint development using git. the end. In the meantime, I would like to explain the development method combined with perlbrew and cpanm.

(If you put the public repository on the remote server, just change the localhost part to the address of the remote server.)