<h2> What is a file? </ H2>

What are files in Linux?

<h3> File is the place to save data </ ​​h3>

Data such as text data and binary data can be saved in the file.

<pre>
#Text data
example.txt
http.conf

#Binary data such as images, sounds and videos
image.png
image.jpg
music.mp3
movie.mpg
</ pre>

Files are a great way to store data in a storage area called your hard disk.

Users can save data to the hard disk simply by being aware of the file, without having to think about the hard disk.

This is true not only for Linux, but also for Windows files.

<h3> What is a path? </ H3>

Filenames on Linux are represented using paths. The path indicates where the file is located. Paths include absolute paths and relative paths.

<h4> Absolute path </ h4>

Paths that start with "/" are called <a href="/blog/20191216082522.html"> absolute paths </a>. The absolute path uniquely represents the location of the file as seen from the Linux root directory "/".

<pre>
# Absolute path
/home/kimoto/foo.txt
/var/log/httpd.log
/usr/local/myapp/myapp.conf
</ pre>

The path delimiter on Linux is the slash "/". In Windows, it is a backslash (yen mark) "\". Please note that this is different from Windows.

<h4> Relative path </ h4>

Paths that do not start with "/" are called <a href="/blog/20191216082522.html"> relative paths </a>. Relative paths represent the relative file locations as seen from the <a href="/blog/20191218072611.html"> current directory </a>.

<pre>
#Relative path
foo.txt
labo / bar.txt
</ pre>

The current directory is

<pre>
/ home / kimoto
</ pre>

In the case of

<pre>
foo.txt
</ pre>

teeth

<pre>
/home/kimoto/foo.txt
</ pre>

Represents.

<h3> Directories are also a type of file </ h3>

Note that on Linux, directories are also treated as one of the special files. A directory is a hierarchical representation of files and corresponds to a folder in Windows.

Note that when we say a file on Linux, we may refer to both a file that also contains a directory or a regular file that contains text or binary data, depending on the context.

For example, if you can see the "file list", it means "file list including special files such as directories" depending on the context.

In the directory, the file name that exists one level below that level is described.

<pre>
foo.txt
test
bar.png
</ pre>

This can be checked using the <a href="/blog/20191126082723.html"> ls command </a>.

<pre>
ls / home / kimoto
</ pre>