<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> rmdir - Delete Directories </h2>

You can delete the directory using the rmdir command.

<pre>
rmdir DirectoryName
</pre>

If the directory is not empty, it cannot be deleted.

<h3> How to delete if the directory is not empty? </H3>

The rmdir command can only be deleted if the contents of the directory are empty.

To delete a directory if it is not empty, use the "-r" option of the "rm command".

See the explanation of the rm command.

<ul>
  <li> <a href="/blog/20191210081417.html"> rm Command - Delete Files</a> </li>
</ul>

<h3> Show help --help option </h3>

Use the "--help" option to get help.

<pre>
rmdir --help
</pre>

Help is displayed.

<pre>
Usage: rmdir [OPTION] ... DIRECTORY ...
Remove the DIRECTORY (ies), if they are empty.

      --ignore-fail-on-non-empty
                  ignore each failure that is solely because a directory
                  is non-empty
  -p, --parents Remove DIRECTORY and its ancestors. E.g., `rmdir -p a / b / c'is
                  similar to `rmdir a / b / c a / b a'.
  -v, --verbose output a diagnostic for every directory processed
      --help display this help and exit
      --version output version information and exit
</pre>