<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> rm Command - Delete File </h2>

You can delete the file using the rm command. rm comes from remove.

<pre>
rm FileName
</pre>

Try deleting the file foo.txt using the rm command.

<pre>
rm foo.txt
</pre>

<h3> Delete directory and all its contents - "-r" option of rm command </h3>

To remove the directory and all its contents, use the "-r" option of the rm command. "-R" comes from recursive.

<pre>
rm -r DirectoryName
</pre>

This command will delete the directory and all the files in it, so be careful.

<h3> Forcibly delete files - "-f" option of rm command </h3>

If you try to delete a file with the rm command, you may be asked if you want to delete the file.

Even in such a case, if you want to delete it without confirmation, use the "-f" option of the rm command. "-F" comes from force.

<pre>
rm -rf DirectoryName
</pre>

Be careful when using this command as it will delete the directory and all the files in it without confirmation.

<h3> Show help --help option </h3>

Use the "--help" option to get help.

<pre>
rm --help
</pre>

Help is displayed.

<pre>
Usage: rm [OPTION] ... FILE ...
Remove (unlink) the FILE (s).

  -f, --force ignore nonexistent files, never prompt
  -i, --interactive prompt before any removal
      --no-preserve-root do not treat `/'specially (the default)
      --preserve-root fail to operate recursively on `/'
  -r, -R, --recursive remove directories and their contents recursively
  -v, --verbose explain what is being done
      --help display this help and exit
      --version output version information and exit
</pre>