<h2> SSH overview </h2>



Now that we have explained the basic commands and basic matters of Linux, the next step is to install the application that runs on Linux and build the environment.

For example, Apache, which is a web server, and MySQL, which is a database server, will be installed from the Web to build an environment in which Web applications can be executed.

<h3> Use SSH to communicate with the server </h3>

The first thing to do is to communicate with the server using a protocol called SSH. When using Sakura VPS, I used to work with a remote console that can be run from a browser. But this is not easy to use. If you use this, your work efficiency will be very low.

Therefore, in order to execute commands more conveniently and efficiently on Linux, we use a communication protocol called SSH.

<pre>
SSH server
    |
SSH client
</pre>

In SSH communication, data is encrypted on the communication path. Data travels over the Internet, but data can be exchanged between the client and server without being seen by other third parties. You can also limit the computers that can communicate by communicating using the private key and public key. In other words, you will be able to allow work only from the computer that holds the key.

In this series, I would like to use an application called Teraterm that can be used as an SSH client on Windows. I think there is an SSH client that is useful for other OSs, so please look for it and use it.

As an SSH server, we will use an application called OpenSSH that can be executed on Linux.

In the future, when executing commands to build the environment, you will have to start the SSH client and work. It's a lot easier because you don't have to open a browser and open a remote console.

I would like to install the actual application next time.