<h2> Check the difference between the working tree and the index / Git </ h2>




Use the diff command to check the difference between the working tree and the index.

<pre>
git diff
</ pre>

When to use this command is after finishing the changes in the work tree and before reflecting the changes in the work tree in the index with "git add". Indexing is a Git-specific concept that you can think of as a temporary commit to a virtual area.

<pre>
git commit
</ pre>

Is actually reflected in the repository by executing.

Please note that "git diff" does not compare your working copy with the latest commit in the repository. "Git diff" compares working copy to indeck.

<pre>
+ ------------------ +
| |
| Local repository |
| Latest Commit |
| |
+ ------------------ +
         |
+ ------------------ +
| |
| Index | <-------- +
| | |
+ ------------------ + |
         | | ------- "git diff" is for working tree and index
+ ------------------ + | Shows the difference.
| | |
| Working tree | <-------- +
| |
+ ------------------ +
</ pre>