<h2> What is an absolute path? </ H2>

An absolute path is an absolute path that starts from the root directory. The word path contains both the file name and the directory name.

<pre>
# Absolute path
/ home / kimoto
/ var
/ var / log
/ usr
/ usr / local

/home/kimoto/foo.txt
/home/kimoto/foo/bar.pl
/home/kimoto/foo/bar/baz.tar.gz
</ pre>

Linux recognizes paths starting with "/" as absolute paths. Note that unlike <a href="/blog/20191216082522.html"> relative path </a>, it starts with a "/".

<h3> Sample using absolute path </ h3>

<h4> Use absolute path with cd command </ h4>

This is a sample that uses the absolute path in the <a href="/blog/20191012191854.html"> cd command </a>.

<pre>
cd / home / kimoto / foo / bar
</ pre>

Change the <a href="/blog/20191218072611.html"> current directory </a> to "/ home / kimoto / foo / bar".

<h4> Use absolute path with ls command </ h4>

This is a sample that uses the absolute path in the <a href="/blog/20191126082723.html"> ls command </a>.

<pre>
ls / home / kimoto / foo / bar
</ pre>

Display a list of files that exist in "/ home / kimoto / foo / bar".

<h4> Use absolute path for other commands </ h4>

<a href="/blog/20191205081119.html"> touch command </a>, <a href="/blog/20191211133524.html"> mkdir command </a>, <a href="/blog/20191212134646. You can use absolute paths with all Linux commands, including the html "> rmdir command </a> and the <a href="/blog/20191210081417.html"> rm command </a>.

<pre>
touch / home / kimoto / foo / bar
mkdir / home / kimoto / foo / bar
rmdir / home / kimoto / foo / bar
rm / home / kimoto / foo / bar
</ pre>