<h2> How to search for a specific string contained in multiple files under a directory with grep </h2>




You may want to search for a specific character string from many files under a specific directory. In such cases, use the <strong> grep </strong> <strong> -r </strong> option.

<pre>
grep -r String Directory1 (Directory2 ...)
</pre>

This is an example of searching for files containing "Hello world" from the directories under lib and templates.

<pre>
grep -r "Hello world" lib templates
</pre>