<h2> How to check the existence of a process kill -0 </h2>




To confirm the existence of the process, use the <b> kill </b> command and specify <b> 0 </b> as an option. Rest assured that if you specify the <b> 0 </b> option for kill, the process will not be terminated.

<pre>
kill -0 process number
</pre>

If the process exists, the command will succeed and nothing will be output. If the command fails, you will get a message that there is no such process.

This can be confirmed by examining <b> $? </B>. If it succeeds, it will be <b> 0 </b>, and if it fails, it will be <b> 1 </b>.

The following is a sample script.

<pre>
kill -0 16033 > /dev/null 2>&1

if [ $? = 0 ]; then
  echo "exists";
else
  echo "not exists"
fi
</pre>