<h2>Hidden Files</H2>

Hidden files are files that start with "." In Linux. It is usually used for files and directories that you do not want to display.

<pre>
# Hidden files
.foo
.foo.txt
</pre>

<h3> How to display hidden files </h3>

Hidden files can be displayed using the "-a" option of the <a href="/blog/20191126082723.html"> ls command</a>. "-A" means all.

<pre>
ls -a
</pre>

This is a sample output result.

<pre>
[kimoto @ www7402u ~] $ ls -a
..cpan kimopro.zip .mysql_history .sqlite_history
.. .cpanm labo .netrc .ssh
.bash_history .gconf labo.tar.gz oradiag_kimoto test
.bash_logout .gconfd .lesshst perl5 tmp
.bash_profile .gitconfig .lftp .perlbrew .vimrc
.bashrc .gnome2 lib .perldl_hist .w3m
book .gnome2_private local plan_delete .xslate_cache
.config .gnupg mbox public_html
</pre>

<h3> Hidden file example </h3>

Here are some examples of hidden files that you often see on Linux.

<h4> bash configuration file </h4>

The bash configuration file is a hidden file.

<pre>
.bash_profile
.bashrc
</pre>

<h4> ssh directory </h4>

The directory where ssh configuration files etc. are stored is a hidden file.

<pre>
.ssh
</pre>

<h4> vim config file </h4>

The vim configuration file is a hidden file.

<pre>
.vimrc
</pre>

<h4> git information directory </h4>

The directory where git information is stored is a hidden file.

<pre>
.git
</pre>