<h2> A series of patch creation steps / Git </ h2>



In Git, the procedure of creating and applying a patch is extremely easy, so it is very convenient.

<h3> Procedure for creating patches on github </ h3>

<h4> Fork the project </ h4>

In order to finally apply the patch, you need to publish your repository on the Internet. Click the fork button to fork the project you want to patch. A copy of the project will be copied onto your repository.

In this figure, it is "my fork" because I have already forked "mojo". Originally it is "fork".

Immediately after forking, what happens is as follows.

<pre>
+ ------------------ + + ------------------ +
| Developer repository | | Your repository |
| master | | master |
| branch1 | -------> | |
| branch2 | | |
| | | |
+ ------------------ + + ------------------ +
</ pre>

Keep in mind that forking will do the following:

+ All information in the repository is copied.
+ Branch master is created automatically. The master in the developer's repository and the master in your repository match.

<h4> (2) Copy your repository on the internet locally </ h4>

The next work to be done is to copy your repository created on the Internet by copying with fork locally. From now on, the repository on the Internet will be called the remote repository. We will call the repository in your computer a local repository.

The next thing you need to do is copy your remote repository locally. Use the "git clone" command to copy the remote repository locally.

The URL specified in the argument of "git clone" is the one displayed in the "Your Clone URL" part.

To copy the contents of your remote repository locally, move to your favorite directory and then execute "git clone".

<pre>
git clone "Your Clone URL"
</ pre>

In the above sample,

<pre>
git clone git@github.com:yuki-kimoto/mojo.git
</ pre>

It will be.

Now, the repository will be in the following state.

<pre>
+ ------------------ + + ------------------ +
| Developer | | Your |
| Remote repository | | Remote repository | ^
| master | | master | |
| branch1 | | | |
| branch2 | | | Internet |
+ ------------------ + + ------------------ + |
                                                                  |
-------------------------------------------------- -------------------------------------------------- ---------------- +
                                                                  |
                            + ------------------ + |
                            | Your | Local |
                            | Local repository | |
                            | master | |
                            | | |
                            | | v
                            + ------------------ +
</ pre>

<h4> Name the remote repository </ h4>

In Git, it is customary to name the remote repository. It is convenient to give a name to the remote repository because you can access it by that name instead of the URL.

Name both the developer's remote repository and your remote repository. Use the "git remote add" command to name the remote repository.

<pre>
<h3> Your remote repository </ h3>
git remote add origin "Your Clone URL"

<h3> Developer remote repository </ h3>
git remote add developer name etc. "Public Clone URL"
</ pre>

It is customary to name your remote repository "origin", so follow that. The developer's remote repository name can be anything, but it may be a good idea to include the developer's name and so on.

In the case of the samples explained so far, it will be as follows.

<pre>
<h3> Your remote repository </ h3>
git remote add origin git@github.com:yuki-kimoto/mojo.git

<h3> Developer remote repository </ h3>
git remote add kraih git: //github.com/kraih/mojo.git
</ pre>

You can get a list of remote repository names with "git remote".

<pre>
git remote
</ pre>

If you want to refer to the status of each remote repository,

<pre>
git remote show remote repository name
</ pre>

You can refer to it at.

<h3> Create a patch branch in your local repository </ h3>

Next, create a branch for the patch in the local repository in preparation for creating the patch. Please note that you should not make any changes to master when creating patches. As we'll see later, master keeps pace with the developer's remote repository master. You must not modify the master.

The branch name should be a simple name that expresses the patch. To create a branch, use the "git branch" command. You can use the -l option to create a new branch.

<pre>
git branch new branch name
</ pre>

will do. To create a branch called "patch1"

<pre>
git branch patch1
</ pre>

will do. You have now created a branch patch1 with the same content as master. Here is a diagram of the current situation.

<pre>
+ ------------------ + + ------------------ +
| Developer | | Your |
| Remote repository | | Remote repository | ^
| master | | master | |
| branch1 | | | |
| branch2 | | | Internet |
+ ------------------ + + ------------------ + |
      kraih origin |
                                                                  |
-------------------------------------------------- -------------------------------------------------- ---------------- +
                                                                  |
                            + ------------------ + |
                            | Your | Local |
                            | Local repository | |
                            | master | |
                            | patch1 | |
                            | | v
                            + ------------------ +
</ pre>

<h3> Switch branches and make modifications to the source code </ h3>

Currently in the master branch, if you make changes to the source code as it is, you will make changes to master. Switch to branch patch1 to work on it.

Use the "git checkout" command to switch branches.

<pre>
git checkout branch name</ pre>

To switch to patch1, do the following.

<pre>
git checkout patch1
</ pre>

Now you are ready to modify the source code. Let's make changes to the source code. Creating a patch is not difficult at all, as all you have to do is make changes to the source code.

<h3> Commit to local repository </ h3>

After making changes to the source code, commit to the local repository. This is the usual work.

<pre>
git add.
git commit
</ pre>

<h3> Reflect changes in your remote repository </ h3>

It is necessary to publish it on the Internet in order to have the patch applied. Again, follow the usual procedure to reflect the contents of the local repository in the remote repository. We need to reflect the branch called patch1, so do the following:

<pre>
git push origin patch1
</ pre>

"Git push" is a command to reflect the contents of the local repository in the remote repository.

<h4> Press the "pull request" button on github </ h4>

It is necessary to tell the developer that the patch was created at the end. Go to the patch1 branch of your repository on github and press the "pull request" button.

Move to the branch where you created the patch (here it is named trial1)

Send a message asking you to apply the patch with "pull request".

By doing this, the patch can be applied to the developer.

<h4> Reflect the master branch of the developer's repository to the master of the local repository </ h4>

The patch should be applied to the latest master branch in the developer's repository. The developer's repository master is updated by the developer from time to time. But the master in the local repository is still out of date.

In such a case, use the "git pull" command to reflect the developer's remote repository master to the local repository master. First switch the branch to master.

<pre>
git checkout master
</ pre>

In this state, perform "git pull" to the developer's remote repository.

<pre>
git pull developer remote repository
</ pre>

In this example

<pre>
git pull kraih
</ pre>

It will be. And if you want to create a new patch, you will create a patch by deriving the new branch patch2 from the latest master.