<h2> Introduction to bash </h2>

bash is a standard Linux shell. You can use bash to execute <a href="/blog/20200211081227.html"> Linux commands</a>.

<pre>
# Execute Linux command with bash
ls
</pre>

<h3> Check environment variables </h3>

Let's check the environment variables. You can check it with the env command.

<pre>
env
</pre>

When combined with grep, you can retrieve only the environment variables you need.

<pre>
# Get only those that contain PATH
env | grep PATH
</pre>

<h3> Set environment variables </h3>

Use the export command to set environment variables.

<pre>
export EnvironmentVariableName=EnvironmentVariableValue
</pre>

Examples:

<pre>
export LANG=en_US.utf8
</pre>

<h3> bash configuration file </h3>

The bash configuration file is ".bashrc" in your home directory.

<pre>
~/.bashrc
</pre>

There is also a special config file called ".bash_profile", but use ".bashrc" for normal configs.

If you write the above environment variable settings in ".bashrc", they can be set automatically when the shell is loaded.

<h3> bash shell script </h3>

Let's create a bash shell script. This is useful when executing frequently used Linux commands.

Suppose you save the following script as "myecho".

<pre>
#!/bin/bash

echo 'Hello'
</pre>

Save this script and change the permissions to 755 with the chmod command so you can run it

<pre>
chmod 755 myecho
</pre>

execution

<pre>
./myecho
</pre>

<h4> Shebang </h4>

Shebang is "#!/bin/bash".

<h3> What kind of shell scripts are there? </H3>

Bash is the standard shell script on Linux, but there are other shell scripts such as csh, ksh, and zsh.

Shell scripts are like dialects, and each Linux OS has a different standard shell.
