<h2> Edit files on Linux server using WinSCP </h2>

Let's use WinSCP to edit the file on the Linux server. To transfer files from a Linux server, we use a protocol called SCP, which is a file transfer protocol on SSH, and WinSCP is software that supports this. Instead of manually transferring files, it automatically transfers files and provides a function that allows you to operate as if you were directly editing a file on the server.

<h3> WinSCP download </h3>

Download WinSCP.

<a href="https://sourceforge.net/projects/winscp/"> WinSCP download</a>

<h3> WinSCP installation </h3>

Let's install WinSCP using the installer.

It's okay to proceed as it is, but it is recommended to choose the Explorer style.

<h3> Information required for SSH connection </h3>

The information required for SSH connection is as follows. Get the following information on your Linux server: The SSH port number is 22 unless otherwise specified, but it is highly recommended to set the server's SSH port to something other than port 22 to prevent intrusion into the server.

<ul>
  <li> IP address (eg 59.106.185.121) </li>
  <li> Port number (default is 22) </li>
  <li> Username (such as myapp) </li>
  <li> password </li>
</ul>

<h3> WinSCP connection </h3>

Open WinSCP. Select a new site.

Enter the IP address in the host name part.

Specify 22 as the port number.

Press OK.

Enter your username and password.

Give the session a saved name whatever you like. Check Save password. Press OK.

A new connection has been added so you can double-click to connect.

<h3> Creating and editing files </h3>

You can right-click, create a new file, or create a file. Double-click to open the file.

<h3> Recommended settings </h3>

You can use any editor you like, so let's set it.

It is recommended to save the setting file in the .ini file instead of the registry because it is easy to back up and move to another PC.