<h2> Setting environment variables for bash </h2>

To set environment variables in bash, use the following environment variable setting syntax.

<pre>
export EnvironmentVariableName=EnvironmentVariableValue
</pre>

This is a sample to set environment variables.

<pre>
export LANG=en_us.utf8
</pre>

<h3> What does export mean? </H3>

If you use export, the environment variables will be inherited by the program to be executed.

If not used, environment variables are valid only within that shell.

Generally, environment variables are referenced by the program to be executed, so it is common to add export.