<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> chgrp command-change owner group </ h2>

You can change the owner group using the chgrp command.

<pre>
chgrp owner group filename
</ pre>

This is a sample to change the owner group to "myapp" with the chgrp command.

<pre>
chgrp myapp file
</ pre>

See the permissions article for owner groups.

<a href="/blog/20200526082545.html"> What are permissions? </a>

<h3> Recursively change the owner group </ h3>

Use the "-R" option to recursively change the owner group.

<pre>
chgrp -R myapp dir
</ pre>