<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> ln Command - Create Symbolic Link </h2>

Use the "-s" option of the ln command to create a symbolic link.

<pre>
ln -s Target LinkName
</pre>

This is a sample to create a symbolic link of "/usr/bin" in the current directory. The main target is directories.

<pre>
ln -s /usr/bin mybin
</pre>

ln is a command to create a link, and there are hard links in addition to symbolic links, but Web system developers and Linux server administrators mainly use symbolic links.
Symbolic links are a type of file and can be deleted with the <a href="/blog/20191210081417.html"> rm</a> command.