<h2> gcc command --Compile and link C language source code </h2>

The <b> gcc command </b> is a command for compiling and linking C language source code.

To compile and link and generate an executable file, use the "-o" option with the gcc command.

<pre>
gcc -o output file name input file name
</pre>

Specify the output file name with the "-o" option.

<pre>
gcc -o output file name input file name
</pre>

This command will compile and link all at once. Since there is only one input file, I don't feel like linking. I haven't explained the meaning of the word link yet. Let's try as far as we can.

Let's create an executable file called "test" from a C language source file called "test.c".

<pre>
// test.c

#include <stdio.h>

int main (void) {
  printf ("Hello World! \ N");
}
</pre>

Generate an executable file with the gcc command.

<pre>
gcc -o test test.c
</pre>

<h3> Procedure for building a C language development environment using gcc </h3>

Please refer to the following article for the procedure for building a C language development environment using gcc.

<ul>
  <li> <a href="https://en.ubuntu.perlzemi.com/blog/20201123133738.html"> C language / C ++ development environment construction on Ubuntu</a> </li>
</ul>

<h3> Develop in C language </h3>

To actually develop in C language using gcc, please refer to the following site.

<ul>
  <li> <a href="https://clanguage.perlclub.net/"> Introduction to C language for C99</a> </li>
</ul>