<h2> grep --text search </ h2>

You can search for text using the <b> grep command </ b>.

<pre>
grep text file name
</ pre>

This is a sample of grep.

<pre>
grep Foo foo.txt
</ pre>

You can specify multiple file names.

<pre>
grep text file name 1 file name 2
</ pre>

<h4> Search directory recursively </ h4>

There is a "-r" option that allows you to search directories recursively. All files, including subdirectories, will be searched.

<pre>
grep -r text directory name
</ pre>

<h4> Case insensitive </ h4>

There is a case-insensitive "-i" option.

<pre>
# Both FOO and foo get caught
grep -i foo filename
</ pre>

<h4> Use Perl regular expressions </ h4>

This is an experimental feature of the Linux grep command, but with the "-P" option, you can use <a href="https://perlzemi.com/blog/20100827127859.html"> Perl regular expressions </a> with grep. increase.

<pre>
grep -P'^ (foo | bar) $'filename
</ pre>