<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> tail command - Prints the End of the File </h2>

You can use the tail command to print the end of the file. Use this when you want to check only the end of the file.

<pre>
tail FileName
</pre>

The tail command is fast because it doesn't read the entire file.

<h3> Tail command sample </h3>

This is a sample tail command that displays the end of foo.txt.

<pre>
tail foo.txt
</pre>

<h3> Specify the number of lines to display at the end </h3>

You can specify the number of lines to display at the end by specifying the number of lines after the hyphen. The following example displays the last 20 lines.

<pre>
tail -20 filename
</pre>

<h3> Continue to output the end of the file </h3>

Use the "-f" option to continue printing the end of the file if the file has been updated.

<pre>
tail -f foo.txt
</pre>