<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> dig command-find the IP address from the domain d name. DNS server information inquiry. </ h2>

You can use the dig command to query DNS server information. Most often, you want to get IP address information from a domain name.

<pre>
dig domain name
</ pre>

This is a sample to get the IP address information by specifying the domain name using dig.

<pre>
dig linux.perlclub.net
</ pre>

This is the output result of dig. You can see the IP address.

<pre>
; <<>> DiG 9.3.6-P1-RedHat-9.3.6-25.P1.el5_11.12 <<>> linux.perlclub.net
;; global options: printcmd
;; Got answer:
;;->> HEADER <<- opcode: QUERY, status: NOERROR, id: 50874
;; flags: qr rd ra; QUERY: 1, ANSWER: 2, AUTHORITY: 0, ADDITIONAL: 0

;; QUESTION SECTION:
linux.perlclub.net. IN A

;; ANSWER SECTION:
linux.perlclub.net. 3600 IN CNAME en.sakurastd.perlzemi.com.
en.sakurastd.perlzemi.com. 3600 IN A 210.224.185.82

;; Query time: 5 msec
;; SERVER: 210.188.224.10 # 53 (210.188.224.10)
;; WHEN: Mon Jun 22 14:17:22 2020
;; MSG SIZE rcvd: 76
</ pre>