<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> gzip command - Compress GZIP format files </h2>

You can use the gzip command to compress the file in <a href="https://en.wikipedia.org/wiki/Gzip"> GZIP format</a>.

<pre>
gzip FileName
</pre>

This is a sample to compress a file with gipz.

The extension of the compressed file name will be ".gz".

<pre>
gzip foo
</pre>

Use the <a href="/blog/20200607103245.html"> gunzip</a> command to unzip the GZIP format file.

The <a href="/blog/20190129171737.html"> tar</a> command can also be compressed in GZIP format, so it is more common to archive and compress the directory using the tar command option. is.

<pre>
tar cfz project.tar.gz project
</pre>