<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> head command-output the beginning of the file </h2>

You can use the head command to output the beginning of the file. Use this when you want to check only the beginning of the file.

<pre>
head file name
</pre>

The head command is fast because it doesn't read the entire file.

<h3> Head command sample </h3>

This is a sample head command that displays the beginning of foo.txt.

<pre>
head foo.txt
</pre>

<h3> Specify the number of lines to display at the beginning </h3>

You can specify the number of lines to display at the beginning by specifying the number of lines after the hyphen. The following example displays the first 20 lines.

<pre>
head -20 filename
</pre>