<h2> Learn Linux commands </h2>

Learn Linux commands.

<h3> Commands for manipulating files and directories </h3>

<ul>
  <li> <a href="/blog/20191012191854.html"> cd command-change current directory</a> </li>
  <li> <a href="/blog/20191126082723.html"> ls command-display file list</a> </li>
  <li> <a href="/blog/20191203081250.html"> cp command-copy the file</a> </li>
  <li> <a href="/blog/20191204081652.html"> mv command-Rename file</a> </li>
  <li> <a href="/blog/20191205081119.html"> touch command-create a new file</a> </li>
  <li> <a href="/blog/20191210081417.html"> rm command-delete file</a> </li>
  <li> <a href="/blog/20191211133524.html"> mkdir command-create a directory</a> </li>
  <li> <a href="/blog/20191212134646.html"> rmdir command --delete directory</a> </li>
  <li> <a href="/blog/20200610092705.html"> ln command-Create symbolic link</a> </li>
</ul>

<h3> Command to check the contents of the file </h3>

<ul>
  <li> <a href="/blog/20200113083613.html"> cat command-output the contents of the file</a> </li>
  <li> <a href="/blog/20200202124238.html"> head command-output the beginning of the file</a> </li>
  <li> <a href="/blog/20200203124238.html"> tail command-output the end of the file</a> </li>
  <li> <a href="/blog/20200201124238.html"> diff command-check file diffs</a> </li>
</ul>

<h3> File permission commands </h3>

<ul>
  <li> <a href="/blog/20200519082545.html"> chmod command-change permissions</a> </li>
  <li> <a href="/blog/20200603102015.html"> chown command-change permissions</a> </li>
  <li> <a href="/blog/20200604095018.html"> chgrp command-change owner group</a> </li>
</ul>

<h3> Command to search for files </h3>

<ul>
  <li> <a href="/blog/20200317121556.html"> find command-recursive search of directories</a> </li>
</ul>

<h3> Commands for command line arguments </h3>

<ul>
  <li> <a href="/blog/20200614103220.html"> xargs command --Convert standard input line output to command line arguments and run the program</a> </li>
</ul>

<h3> Command to search / replace text </h3>

<ul>
  <li> <a href="/blog/20200602093211.html"> grep --Text Search</a> </li>
</ul>

<h3> Archive / compression command </h3>

<ul>
  <li> <a href="/blog/20190129171737.html"> tar command-file archiving and unpacking</a> </li>
  <li> <a href="/blog/20200608103245.html"> gzip command-compress files</a> </li>
  <li> <a href="/blog/20200607103245.html"> gunzip command-file compression</a> </li>
</ul>

<h3> Command to open a text editor </h3>

<ul>
  <li> <a href="/blog/20190401171737.html"> vi --Text editor for command line</a> </li>
</ul>

<h3> Command to check disk capacity </h3>

<ul>
  <li> <a href="/blog/20200601093211.html"> df command --check disk capacity</a> </li>
  <li> <a href="/blog/20200531082545.html"> du command --check directory capacity</a> </li>
</ul>

<h3> Command to synchronize directories </h3>

<ul>
  <li> <a href="/blog/20190130171737.html"> rsync command --sync directory</a> </li>
</ul>

<h3> Environment variables </h3>

<ul>
  <li> <a href="/blog/20190102171737.html"> env command-display the value of an environment variable</a> </li>
</ul>

<h3> Network </h3>

<ul>
  <li> <a href="/blog/20200622141433.html"> dig command-look up the IP address from the domain d name. DNS server information inquiry.</a> </li>
</ul>

<h3> SSH </h3>

<ul>
  <li> <a href="/blog/20200621103220.html"> ssh command --connect to SSH server</a> </li>
</ul>

<h3> C language compilation and linking </h3>

<ul>
  <li> <a href="/blog/20201216103956.html"> gcc command --Compile and link C language source code</a> </li>
</ul>