<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> cat command-output the contents of the file </h2>

You can use the cat command to output the contents of the file.

<pre>
# Output the contents of the file
cat foo.txt
</pre>

The output result is as follows.

<pre>
Hello
World!
</pre>

cat is derived from concat. concat means to connect.

In fact, if you pass multiple files to the cat command, the contents of multiple files will be connected and output. This is the origin of the name.

<pre>
# Output by connecting the contents of multiple files
cat foo.txt bar.txt
</pre>