<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> gunzip command-decompressing GZIP format files </ h2>

You can unzip the file in <a href="http://e-words.jp/w/GZIP.html"> GZIP format </a> with the gunzip command.

<pre>
gunzip file name
</ pre>

The extension of GZIP format file names is generally ".gz".

This is a sample to unzip the file with gunzip.

<pre>
gunzip foo.gz
</ pre>

Use the <a href="/blog/20200608103245.html"> gzip </a> command to compress a GZIP format file.

The <a href="/blog/20190129171737.html"> tar </a> command can also be decompressed in GZIP format, so it is more common to extract and decompress the directory using the tar command option. It is a target.

<pre>
tar xfzv project.tar.gz
</ pre>