<h2> How to install Linux </h2>

Next, let's actually introduce Linux. There are several implementation methods.

<h3> I want to use real Linux as a server </h3>

To deploy Linux, deploy what is called a Linux distribution.

Each Linux distribution is explained on each site.

<ul>
  <li> <a href="https://ubuntu.perlclub.net/"> Introduction to Ubuntu server construction</a> </li>
  <li> <a href="https://en.centos.perlzemi.com/"> Introduction to CentOS server construction</a> </li>
</ul>

<h3> I want to experience Linux on a local machine on Windows </h3>

If you want to experience Linux on Windows, it's easy to use the tool <a href="https://perlzemi.com/blog/20180806153350.html"> msys2</a>. You can build a pseudo Linux environment on Windows.

In 2020, WSL2, a way to handle Linux on Windows, was introduced. You can build a real Linux environment on top of a lightweight virtual environment on Windows. You may try this.