<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Linux </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop = "name"> Linux command </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> diff command - Check File Diffs </h2>

You can use the diff command to see the differences in the files.

<pre>
git diff File1 File2
</pre>

This is a sample of the output result of diff.

<pre>
  ServerName system.online-fudousan.jp

-  <Directory /var/www>
-    Options +ExecCGI
-  </Directory>
-
   RewriteEngine On
   RewriteCond %{HTTP_HOST} !^\Qsystem.online-fudousan.jp\E
   RewriteRule (.+) https://system.online-fudousan.jp$1 [R=301,L]
</pre>